Repository magpylib/magpylib, pull requests merged in 2024-03, with the labels that each got.

#717 Add `getM` and `getJ` + `in_out` inside/ouside parameter
  CHANGELOG.md
  docs/_pages/docu/docu_magpylib_api.md
  docs/_pages/gallery/gallery_tutorial_custom.md
  magpylib/__init__.py
  magpylib/_src/defaults/defaults_utility.py
  magpylib/_src/display/display.py
  magpylib/_src/display/traces_generic.py
  magpylib/_src/display/traces_utility.py
  magpylib/_src/fields/__init__.py
  magpylib/_src/fields/field_BH_circle.py
  magpylib/_src/fields/field_BH_cuboid.py
  magpylib/_src/fields/field_BH_cylinder.py
  magpylib/_src/fields/field_BH_cylinder_segment.py
  magpylib/_src/fields/field_BH_dipole.py
  magpylib/_src/fields/field_BH_polyline.py
  magpylib/_src/fields/field_BH_sphere.py
  magpylib/_src/fields/field_BH_tetrahedron.py
  magpylib/_src/fields/field_BH_triangle.py
  magpylib/_src/fields/field_BH_triangularmesh.py
  magpylib/_src/fields/field_wrap_BH.py
  magpylib/_src/input_checks.py
  magpylib/_src/obj_classes/class_BaseDisplayRepr.py
  magpylib/_src/obj_classes/class_BaseExcitations.py
  magpylib/_src/obj_classes/class_Collection.py
  magpylib/_src/obj_classes/class_Sensor.py
  magpylib/_src/obj_classes/class_current_Circle.py
  magpylib/_src/obj_classes/class_current_Polyline.py
  magpylib/_src/obj_classes/class_magnet_Cuboid.py
  magpylib/_src/obj_classes/class_magnet_Cylinder.py
  magpylib/_src/obj_classes/class_magnet_CylinderSegment.py
  magpylib/_src/obj_classes/class_magnet_Sphere.py
  magpylib/_src/obj_classes/class_magnet_Tetrahedron.py
  magpylib/_src/obj_classes/class_magnet_TriangularMesh.py
  magpylib/_src/obj_classes/class_misc_Dipole.py
  magpylib/_src/obj_classes/class_misc_Triangle.py
  magpylib/_src/utility.py
  magpylib/core/__init__.py
  tests/test_BHMJ_level.py
  tests/test_core.py
  tests/test_core_physics_consistency.py
  tests/test_display_plotly.py
  tests/test_exceptions.py
  tests/test_field_cylinder.py
  tests/test_getBH_level2.py
  tests/test_input_checks.py
  tests/test_obj_BaseGeo.py
  tests/test_obj_Circle.py
  tests/test_obj_Collection.py
  tests/test_obj_Cuboid.py
  tests/test_obj_Cylinder.py
  tests/test_obj_Polyline.py
  tests/test_obj_Sphere.py
  tests/test_obj_Tetrahedron.py
  tests/test_obj_Triangle.py
  tests/test_obj_TriangularMesh.py
Labels: new feature, refactoring, performance, API

#723 First draft of the "using real magnets" tutorial
  docs/_pages/gallery/gallery_index.md
  docs/_pages/gallery/gallery_magnet_model.md
  docs/_pages/gallery/gallery_tutorial_modelling_magnets.md
  docs/_static/images/gallery_icon_tutorial_modelling_magnets.png
  docs/_static/images/gallery_tutorial_magnet_LDratio.png
  docs/_static/images/gallery_tutorial_magnet_datasheet.png
  docs/_static/images/gallery_tutorial_magnet_datasheet2.png
  docs/_static/images/gallery_tutorial_magnet_fieldcomparison.png
  docs/_static/images/gallery_tutorial_magnet_hysteresis.png
  docs/_static/images/gallery_tutorial_magnet_table.png
Labels: docs

#734 Replace `assert np.allclose` by `np.testing.assert_allclose`
  docs/_pages/docu/docu_magpylib_api.md
  tests/test_BaseTransform.py
  tests/test_elliptics.py
  tests/test_field_cylinder.py
  tests/test_getBH_dict.py
  tests/test_getBH_interfaces.py
  tests/test_getBH_level2.py
  tests/test_numerical_stability.py
  tests/test_obj_BaseGeo.py
  tests/test_obj_BaseGeo_v4motion.py
  tests/test_obj_Circle.py
  tests/test_obj_Collection.py
  tests/test_obj_Collection_v4motion.py
  tests/test_obj_Cylinder.py
  tests/test_obj_Dipole.py
  tests/test_obj_Polyline.py
  tests/test_obj_Sensor.py
  tests/test_obj_Sphere.py
  tests/test_path.py
  tests/test_physics_consistency.py
  tests/test_scaling.py
  tests/test_utility.py
  tests/test_vs_mag2.py
Labels: refactoring

#740 fix-typos
  CHANGELOG.md
  README.md
  docs/_pages/docu/docu_graphics.md
  docs/_pages/docu/docu_magpylib_api.md
  docs/_pages/gallery/gallery_app_halbach.md
  docs/_pages/gallery/gallery_app_helmholtz.md
  docs/_pages/gallery/gallery_shapes_triangle.md
  docs/_pages/gallery/gallery_tutorial_collection.md
  docs/_pages/gallery/gallery_tutorial_custom.md
  docs/_pages/gallery/gallery_tutorial_modelling_magnets.md
  docs/_pages/gallery/gallery_vis_mpl_streamplot.md
  magpylib/_src/exceptions.py
  magpylib/_src/fields/field_BH_cylinder_segment.py
  magpylib/_src/fields/field_BH_polyline.py
  magpylib/_src/fields/field_wrap_BH.py
  magpylib/_src/fields/special_el3.py
  magpylib/_src/obj_classes/class_Collection.py
  magpylib/graphics/style/__init__.py
  tests/test_BHMJ_level.py
  tests/test_default_utils.py
  tests/test_display_matplotlib.py
  tests/test_display_utility.py
  tests/test_misc.py
  tests/test_obj_Collection_child_parent.py
  tests/test_obj_TriangularMesh.py
  tests/test_vs_mag2.py
Labels: docs
